<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Install Name="InstallPath" Value="E:\Scripts\ImportHPIA" />	<!-- Install path for the HPIA script. -->
	<Install Name="InstallHPIA" Enabled="True" Value="E:\Scripts\ImportHPIA" />	<!--Specify if you want HPIA to autoupdate and install location -->
	<Install Name="SiteCode" Value="CM1" />	<!--Speicify SiteCode for ConfigMgr-->
	<Install Name="CMFolderPath" Value="CM1:\Package\Driver Packages\HP\HPIA" />	<!-- Folder path in Configuration Manager -->
	<Install Name="ConfigMgrModule" Value="E:\Program Files\Microsoft Configuration Manager\AdminConsole\bin\ConfigurationManager.psd1" />	<!--Path to ConfigMgr module-->
	<Install Name="InstallHPCML" Enabled="True" />	<!--Specify if you want HPCML to autoupdate from Powershell Gallery-->
	<Install Name="RepositoryPath" Value="\\lab01\Applications\Hardware\Hewlett-Packard\HPIA" />	<!--Download path for the drivers-->
	<Install Name="SupportComputerModels" Value="E:\ImportHPIA\Import-Models.csv" />	<!--Specify location to CSV file for the supported computer models-->
	<Feature Name="SSMONLY" Enabled="False" />	<!-- Enables SSM -->
	<Feature Name="Category1" Enabled="True" />	<!-- Enables Driver download for dock -->
	<Feature Name="Category2" Enabled="True" />	<!-- Enables Driver download for drivers -->
	<Feature Name="Category3" Enabled="True" />	<!-- Enables Driver download for firmware -->
	<Feature Name="Category4" Enabled="False" />	<!-- Enables Driver download for driverpack -->
	<Feature Name="DPGroupName" Value="test" />	<!-- Set DP GroupName -->
	<Option Name="EnableSMTP" Enabled="False" SMTP="smtp.test.se" Adress="lab@lab.se" />	<!-- Specify SMTP and e-postadress -->
</Configuration>
